beautifulsoup4
mammoth
Jinja2
playwright
numpy
Pillow
scikit-learn
scipy
matplotlib
tensorflow
keras
tqdm
requests
python-docx
reportlab
wikipedia
google-api-python-client
google-auth
google-auth-oauthlib